/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH				Imports
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,700);


/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH				Global
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
body{
	font-family: Raleway;
    position: relative;
}
.top{
    display: none;
    background: rgb(81, 255, 182);
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
    position: fixed;
    bottom: 45px;
    right: 35px;
}
.show-top{
    display: block;
    z-index: 99;
    transition: 2s;
}
.top:hover{
    background: rgb(87, 160, 255);
}
h1{
	font-weight: 100;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 10px;
}
 h2{
	font-weight: 100;
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
}
ul{
    list-style: none;
}
#trigger-overlay:hover, a:focus, a:hover {
	color: inherit;
	text-decoration: none;
    transition: .8s;
}
p{
	font-size: 16px;
}
.wrapper{
	padding: 75px 0px;
}

.virticle-line{
    height: 40px;
    width: 1px;
    background: #888;
    margin: 15px auto 5px;
}
.circle{
    height: 15px;
    width: 15px;
    border: 1px solid #888;
    border-radius: 100%;
    margin: 0px auto 50px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH				Header
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/
.header{
	height: 100vh;
	background: linear-gradient(50deg, rgb(81, 255, 182), rgb(87, 160, 255));
    padding: 45px 0px;
}
#logo {
	font-size: 80px;
	letter-spacing: 10px;
	font-weight: 100;
	color: white;
	display: inline-block;
	padding: 0px;
    float: left;
}
a#logo:hover{
	text-decoration: none;
}
.strong{
	font-weight: 400;
}
.header img{
	width: 100%;
}
.top-bar{
    width: 100%;
}
.fixed {
    position: fixed;
    background: rgb(87, 160, 255);
    top: 0;
    z-index: 99;
    transition: 1s;
}
.fixed #logo{
    font-size: 60px;
}
.fixed .nav-button{
    margin: 15px 0px;
}
.nav-button{
	max-width: 600px;
	margin: 35px 0px;
}
.nav-button button{
	border: none;
	outline: none;
	display: inline-block;
	color: #fff;
	border-radius: 0px;
	cursor: pointer;
	background-color: transparent;
	float: right;
	font-size: 42px;
	/*border: 1px solid white;*/
	padding: 0px 12px;
}
.nav-button button:hover{
	color: rgb(87, 160, 255);
	background-color: white;
}
.navbar-white {
      background-color: #fff !important;
      transition: background 0.5s ease-out;
      box-shadow: 0px 0px 10px #39c;
}
.starting img{
	margin-top: 110px;
}
.banner-text{
    margin-top: 100px;
}
.starting p{
	padding: 20px 0px;
	color: #fff;
	line-height: 30px;
}
.btn.btn-download {
    padding: 10px;
    background: white;
    border-radius: 50px;
    width: 180px;
    text-align: left;
    color: #333333;
    border: 1px solid white;
    margin-right: 10px;
}
.btn.btn-download:hover{
    color: #fff;
    background-color: transparent;
}

.btn.btn-download i {
    width: 20px;
    font-size: 36px;
    margin-left: 10px;
    margin-right: 25px;
}

.btn.btn-download strong {
    font-weight: 800;
}
/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH              Footer Section
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/

#footer {
    /*background: linear-gradient(180deg, rgb(0, 190, 111), rgb(87, 160, 255));*/
    background-color: #39c;
    color:white;
    padding:40px 0;
}
#footer .credits a {
    color:#fff;
    text-decoration:underline;
}
.credits{
   	padding-bottom: 5px;
}
ul.social-icons{
  padding: 0;
}
ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
}
.copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
}
ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 50px;
    height: 50px;
    padding: 9px;
}
ul.social-icons li a {
    display:block;
}
.footer-logo h1 {
    color: white;
}
.social-icons ul li a i{
	color: white;
	border-color: white;
}
.facebook a:hover i {
    color:#fff;
    background-color:#3B5998;
}
.twitter a:hover i {
    color:#fff;
    background-color: #2A80BA;
}
.linkedin a:hover i {
    color:#fff;
    background-color:#007bb6;
}
.googleplus a:hover i {
    color:#fff;
    background-color:#dd4b39;
}
.github a:hover i {
    color:#fff;
    background-color: #444;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 0;
    opacity: 0.75;
}



/*HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
HH 				Media Quiry
HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH*/


@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}
@media (max-width: 966px){
    .header{
        height: 100%;
    }
    .header img{
        display: none;
    }
    .img-hover{
        left: 0;
        right: 0;
    }
    #gallery h2{
        display: block;
        color: black;
        text-align: center;
    }
    #gallery .virticle-line, #gallery .circle{
        display: block;
    }
    #team .icon-p{
        left: 231px;
    }
    /*#speciality .container .row .col-sm-4:nth-child(2){
        border-right: 2px solid #888;
    }*/
    #contact i{
        color: #9d9d9d;
        border-color: #9d9d9d;
    }
    #contact .col-sm-6:hover i{
        background-color: #39c;
        color: #fff;
        border-color: #fff;
    }
    h3{
        font-weight: 500 !important;
    }
    #bigfeatures li i{
        display: none;
    }
    .form .message{
        width: 96%;
    }
}
@media (max-width: 480px){
    h2{
        font-size: 35px;
    }
    .wrapper{
        padding: 35px 0px;
    }
    .header{
		text-align: center;
        padding: 10px 0px;
	}
    .banner-text {
        margin-top: 50px;
    }
    .btn.btn-download{
        margin-right: 5px;
        width: 133px;
        margin-bottom: 30px;
    }
    .btn.btn-download i {
        font-size: 36px;
        margin-right: 16px;
        margin-left: 0px;
    }
	.overlay .overlay-close {
		right: 45px;
	  	top: 30px;
	}
    .nav-button button{
        font-size: 36px;
        margin-top: -20px;
    }
	#logo{
		font-size: 56px;
		text-align: left;
	}
	.btn-download{
		margin: 5px 0px;
	}
    ul.pricing-table>li {
        margin: 10px -20px;
        width: 100%;
    }
    #speciality .container .row .col-sm-4:nth-child(2){
        border: 0px;
    }
    .item-list-right.item-list-big li, .item-list-left.item-list-big li{
        padding: 0 0 60px 0;
        margin: 0px;
        text-align: left;
    }
    li.li i {
        display: none;
    }
    #features img{
        display: none;
    }
    .features-list, .features-list-left {
        padding: 10px;
    }
    .features-list ul.right li {
        padding: 10px 5px;
    }
    .features-list-left{
        text-align: left;
    }
    .features-list-left ul.left li {
          padding-bottom: 10px;
          margin-left: -30px;
          text-align: left;
    }
    .features-list ul.right{
        padding: 0px;
        margin: 0px;
    }
    .features-list-left ul.left{
        padding: 0px;
        margin-left: 40px;
    }
    .owl-theme .owl-controls .owl-page span{
        height: 70px;
        width: 70px;
    }
    .owl-theme .owl-controls .owl-page:nth-child(1){
        background-size: 70px 70px;
    }
    .owl-theme .owl-controls .owl-page:nth-child(2){
        background-size: 70px 70px;
    }
    .owl-theme .owl-controls .owl-page:nth-child(3){
        background-size: 70px 70px;
    }
    ul.social-icons li{
        margin: 0px;
    }
    .form .message{
        width: 91%;
    }
}
@media (max-width: 320px){
    .overlay nav ul{
        margin-left: -20px;
    }
    .overlay .overlay-close {
        right: 50px;
    }
}